.showResults {
    height: 600px;
    width: 1200px;
    background-color: rgb(231, 230, 230);
    border:2px solid black;
    }
  
  #firstSearchResult{
    height:200px;
    width: 1150px;
    background-color: rgb(231, 163, 163);
   
  }
  
  #readMoreButton{
   background-color: rgb(72, 72, 190);
 }
        

 #secondSearchResult {
  height:200px;
  width: 1150px;
  background-color: rgb(231, 163, 163);
 }

 #thirdSearchResult {
  height:200px;
  width: 1150px;
  background-color: rgb(231, 163, 163);
 }